<div id="shopping-cart-dialog" class="ui-dialog">
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <td>lklsdkl</td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#shopping-cart-dialog').dialog({
            position: { my: 'right bottom', at: 'right bottom', of: window }
        });
        alert("run");
    });
</script>